.doc-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
  padding: 2rem;
}

.doc-link {
  margin-left: 2rem;
  font-weight: bold;
  transition: 250ms ease-in;
}

.doc-link:hover {
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .doc-grid {
    grid-template-columns: 1fr;
    margin: 2rem 0;
    padding: 1rem;
    gap: 3rem;
  }
}
