.doc-main-head {
  font-size: 2.5rem;
  color: var(--dark-color);
}

.doc-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
  padding: 2rem;
}

.doc-segment {
  box-shadow: -10px 0 0 var(--secondary-color);
  padding-left: 2em;
}

.doc-link {
  display: inline-block;
  padding-left: 2rem;
  font-weight: bold;
  transition: 250ms ease-in;
}

.doc-link:hover {
  color: var(--secondary-color);
}

.doc-head {
  font-size: 1.5rem;
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .doc-grid {
    grid-template-columns: 1fr;
    margin: 2rem 0;
    padding: 1rem;
    gap: 3rem;
  }
}
